[user]
	email = guangji.huang@sophgo.com
	name = guangji.huang
[color]
	ui = auto
[core]
	excludesfile = /data/guangji.huang/.global_gitignore
	hooksPath = /opt/jenkins_ci/jenkins_ci/codecheck/hooks
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[alias]
	# commit 
	c = commit
	comit = commit
	amend = commit --amend

	# status
	st = status
	staus = status

	# log
	l = log
	lox = log --oneline
	lo = log --oneline -n5
	lo5 = log --oneline -n5
	lo10 = log --oneline -n10

	# diff
	df = diff

	# show

	# push
	p = push
	pm = push origin HEAD:refs/for/master
	pd = push origin HEAD:refs/for/dev_for_cmodel

[commit]
	cleanup = scissors
